/* Global styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  background-color: #fdfcfc;
  background-image: url('https://path_to_your_image.jpg'); /* Remplacez par le lien de votre image */
  background-size: cover; /* Assure que l'image couvre tout l'écran */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Form styling */
  form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #474bab;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #b3b0b0;
    cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
    background-color: #0b07f9;
  }
  